body{
  font-family: Arial;
  background:#0b0f19;
  color:white;
  padding:20px;
}

h1{
  margin-bottom:10px;
}

nav a{
  display:block;
  margin:10px 0;
  color:#c7b6ff;
}

button{
  margin-top:10px;
  padding:8px 12px;
  background:white;
  color:black;
  border:none;
}